  <div class="row">
    <div class="col-md-12">
      <h2>Crear Bancos</h2>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="" class="form-horizontal" id="form-banco">
            <div class="form-group row">
              <div class="col-sm-6">
                <label for="">Cuenta</label>
                <input type="text" class="form-control" placeholder="">
              </div>

              <div class="col-sm-6">
                <label for="">Nombre</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div> 

            <div class="form-group row">
              <div class="col-sm-6">
                <label for="">Tipo de Cuenta</label>
                <select name="" id="" class="form-control">
                  <option value="">Ahorro</option>
                  <option value="">Corriente</option>
                </select>
              </div>

              <div class="col-sm-6">
                <label for="">Titular</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-6">
                <label for="">Id Titular</label>
                <input type="text" class="form-control" placeholder="">
              </div>

              <div class="col-sm-6">
                <label for="">Mensaje</label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>  

            <div class="form-group row">
              <div class="col-sm-6">
                <input type="checkbox" class="checkbox-inline" name="available_in" value="1">
                <label for="available_in" class="">Entrada</label>    
                <input type="checkbox" class="checkbox-inline" name="available_out" value="1">
                <label for="available_out" class="">Salida</label>    
              </div>    

              <div class="col-sm-6">
                <label for="currency">Moneda</label>
                <label class="radio">
                    <input type="radio" name="currency" id="inlineRadio1" value="VEF">VEF
                </label>
                <label class="radio">
                    <input type="radio" name="currency" id="inlineRadio2" value="USD">USD
                </label>
                <label class="radio">
                    <input type="radio" name="currency" id="inlineRadio3" value="COP">COP
                </label>     

                <label for="currency">Pais</label>
                <label class="radio">
                    <input type="radio" name="country" id="inlineRadio1" value="EC"> Ecuador
                </label>
                <label class="radio">
                    <input type="radio" name="country" id="inlineRadio2" value="CO"> Colombia
                </label>
                <label class="radio">
                    <input type="radio" name="country" id="inlineRadio3" value="VE"> Venezuela
                </label>
                <label class="radio">
                    <input type="radio" name="country" id="inlineRadio2" value="SP"> España
                </label>
                <label class="radio">
                    <input type="radio" name="country" id="inlineRadio3" value="US"> Estados Unidos
                </label>                
              </div> 
            </div>

            <div class="col-md-8">
              <a ng-href="#/" class="btn btn-warning">Atras</a>
              <a ng-href="#/" class="btn btn-primary">Crear</a>
            </div>                       
                                            
          </form>
        </div>
      </div>
    </div>
  </div>
